<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <div class="Navbar">
        <a href="deneme.html"><button>Start</button></a>
        <a href="#"><button>Content</button></a>
        <a href="#"><button>Contact</button></a>
        <a href="#"><button>Privacy</button></a>
    </div>
    <div class="Categories">
        <a href="#"><button>Tech Devices</button></a>
        <a href="#"><button>Mobile Devices</button></a>
    </div>
</body>
</html>